@model ProfileEditDto
@{
    ViewData["Title"] = "Profil Bilgileri Güncelleme";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">

    <div class="text-center">
        <img src="@Model.ImageUrl" style="width:100px;height:100px" />
    </div>



    <label>Ad</label>
    <input type="text" class="form-control" asp-for="FirstName"  required/>
    <br />
    <label>Soyad</label>
    <input type="text" class="form-control" asp-for="LastName" required />
    <br />
    <label>Email</label>
    <input type="email" class="form-control" asp-for="Email" required />
    <br />
    <label>Telefon Numarası</label>
    <input type="text" class="form-control" asp-for="PhoneNumber" required />
    <br />


</form>
