<nav class="pcoded-navbar">
	<div class="navbar-wrapper">
		<div class="navbar-content scroll-div">

			<div class="">
				<div class="main-menu-header">
					<img src="@ViewBag.userImage" alt="User-Profile-Image" style="border-radius:50%;height:50px;width:50px;">
					<div class="user-details">
						<span>@ViewBag.nameSurname</span>
						<div id="more-details">Admin<i class="fa fa-chevron-down m-l-5"></i></div>
					</div>
				</div>
				<div class="collapse" id="nav-user-link">
					<ul class="list-unstyled">
						<li class="list-group-item"><a href="/Manager/AdminProfile/Index"><i class="feather icon-user m-r-5"></i>Profil Bilgileri</a></li>
						<li class="list-group-item"><a href="/Default/Index"><i class="feather icon-settings m-r-5"></i>Siteye Git</a></li>
						<li class="list-group-item"><a href="/Login/Logout"><i class="feather icon-log-out m-r-5"></i>Çıkış Yap</a></li>
					</ul>
				</div>
			</div>

			<ul class="nav pcoded-inner-navbar">
				<li class="nav-item pcoded-menu-caption">
					<label>Menü</label>
				</li>
				<li class="nav-item">
					<a href="/AdminDashboard/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminAbout/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-info"></i></span><span class="pcoded-mtext">Hakkımızda</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminBanner/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span class="pcoded-mtext">Öne Çıkan Alan</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminCar/Index" class="nav-link"><span class="pcoded-micon"><i class="fas fa-car"></i></span><span class="pcoded-mtext">Arabalar</span></a>
				</li>
				<li class="nav-item">
					<a href="/Role/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Roller</span></a>
				</li>
				<li class="nav-item">
					<a href="/RoleAssign/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Rol Atama</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminService/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span><span class="pcoded-mtext">Hizmetler</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminFeature/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">Özellikler</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminProcess/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-clock"></i></span><span class="pcoded-mtext">Kiralama Süreci</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminManager/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user-check"></i></span><span class="pcoded-mtext">Danışmanlar</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminTestimonial/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-message-square"></i></span><span class="pcoded-mtext">Yorumlar</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminMessage/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-mail"></i></span><span class="pcoded-mtext">Mesajlar</span></a>
				</li>
				<li class="nav-item">
					<a href="/AdminFooter/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-credit-card"></i></span><span class="pcoded-mtext">Footer</span></a>
				</li>
			</ul>

		</div>
	</div>
</nav>
