@using Cental.DtoLayer.MessageDtos
@model CreateMessageDto

<div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="bg-secondary p-5 rounded">
        <h4 class="text-primary mb-4">Send Your Message</h4>
        <form asp-action="SendMessage" asp-controller="Contact" method="post" id="messageForm">

            <div class="row g-4">
                <div class="col-lg-12 col-xl-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Name" placeholder="Your Name">
                        <label for="name">Your Name</label>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Your Email">
                        <label for="email">Your Email</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Subject" placeholder="Subject">
                        <label for="subject">Konu</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a message here" asp-for="Comment" style="height: 160px" required></textarea>
                        <label for="message">Message</label>
                    </div>

                </div>
                <div class="col-12">
                    <button class="btn btn-light w-100 py-3" type="submit">Mesajı Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("messageForm").addEventListener("submit", function (e) {
        e.preventDefault(); // Formun otomatik gönderimini engelle

        Swal.fire({
            title: "Mesajınız Başarıyla Gönderildi",
            text: "Size en kısa sürede cevap verilecektir.",
            icon: "success",
            confirmButtonText: "Tamam"
        }).then((result) => {
            if (result.isConfirmed) {
                // SweetAlert onaylandıktan sonra formu gönder
                e.target.submit();
            }
        });
    });
</script>
