@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Vizyon</th>      
        <th>İşlemler</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutId</th>
            <th>@item.Vision</th>     
            <th>
                <a asp-action="Delete" asp-route-id="@item.AboutId" class="btn btn-danger">Sil</a>
                <a asp-action="Update" asp-route-id="@item.AboutId" class="btn btn-info">Güncelle</a>
            </th>

        </tr>
    }
</table>

<a asp-action="Insert" asp-controller="AdminAbout" class="btn btn-primary">Yeni Hakkımızda Ekle</a>